<div class="create-container">
  <!-- Title -->
  <div class="form-group">
    <label for="title">Article Title</label>
    <input type="text" id="title" [(ngModel)]="article.title" name="title" placeholder="Enter article title.." required>
  </div>
  <!-- Banner / Featured Image -->
  <div class="form-group">
    <label for="image" class="custom-file-label">
      <span *ngIf="!selectedImage">Select Banner</span>
      <span *ngIf="selectedImage">{{ selectedImage.name }}</span>
      <input type="file" id="image" (change)="onImageSelect($event)" accept="image/*" required>
    </label>

    <div class="image-preview" *ngIf="selectedImage">
      <img [src]="imagePreview" alt="Preview">
      <button type="button" (click)="removeImage()">✕</button>
    </div>
  </div>



  <!-- Quill Editor -->
  <div class="form-group">
    <label for="content">Article Content</label>
    <div id="editor" style="height: 400px; width: 100%; border: 1px solid #22c55e;"></div>
  </div>

  <div class="form-group-video">
    <label for="videos" class="custom-file-label">
      <span *ngIf="!selectedVideos.length">Select Video(s)</span>
      <span *ngIf="selectedVideos.length">
        {{ selectedVideos.length }} video(s) selected
      </span>
      <input type="file" id="videos" (change)="onVideoSelect($event)" accept="video/*" multiple required>
    </label>

    <div class="video-preview" *ngIf="selectedVideos.length">
      <div class="video-container" *ngFor="let video of selectedVideos; let i = index">
        <video [src]="video.preview" controls></video>
        <button type="button" (click)="removeVideo(i)">✕</button>
      </div>
    </div>
  </div>


  <!-- Submit -->
  <div class="form-actions">
    <button type="submit" (click)="onSubmit()" [disabled]="!isFormValid()">PUBLISH ARTICLE</button>
  </div>
</div>