<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="menu-icon" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">


  <span class="nav-brand">
    <a routerLink="/" class="brand-link">
      <span class="brand-text">01</span>
      <span class="brand-accent">Blog</span>
    </a>
  </span>

  <span class="nav-user">
    <button mat-button routerLink="/login" class="nav-link">Login</button>
    <button mat-button routerLink="/register" class="nav-link">Register</button>
  </span>
</mat-toolbar>
