<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <a routerLink="/" class="brand-link">
        <span class="brand-text">01</span>
        <span class="brand-accent">Blog</span>
      </a>
    </div>
<!-- 
    <div class="nav-search">
      <input type="text" placeholder="Search..." class="search-input">
    </div> -->

    <div class="nav-user">
      <div class="user-actions">
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
      </div>
    </div>
  </div>
</nav>
