.navbar {
  background-color: #111111;
  border-bottom: 2px solid #22c55e;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-icon {
  display: none; /* Hidden by default */
}

.brand-link {
  text-decoration: none;
  font-family: 'Courier New', monospace;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.brand-link:focus {
  outline: none;

}

.brand-text {
  color: #ffffff;
}

.brand-accent {
  color: #22c55e;
}

.nav-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input-field {
  width: 90%;
  max-width: 400px;
}

.search-input {
  background-color: #2d3748;
  color: #e2e8f0;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
}

.nav-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.write-btn {
  color: #22c55e;
}

.mat-icon-button {
  color: #22c55e;
}

.mat-icon {
  color: #22c55e;
}

.nav-user span {
  color: #ffffff;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .menu-icon {
    display: flex; /* Show on small screens */
  }

  .nav-search {
    display: none; /* Hide search on small screens */
  }

  .hide-on-small {
    display: none; /* Hide specific elements on small screens */
  }

  .brand-link {
    font-size: 1.8rem;
  }

  .nav-user {
    gap: 5px;
  }
}
