<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="menu-icon" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="nav-brand">
    <a routerLink="/" class="brand-link">
      <span class="brand-text">01</span>
      <span class="brand-accent">Blog</span>
    </a>
  </span>

  <span class="nav-search">
    <mat-form-field appearance="outline" class="search-input-field">
      <input matInput placeholder="Search..." class="search-input">
    </mat-form-field>
  </span>

  <span class="nav-user">
    <button mat-button routerLink="/create" class="write-btn hide-on-small">
      <mat-icon>edit</mat-icon>
      <span>Write</span>
    </button>

    <app-notification-dropdown class="hide-on-small"></app-notification-dropdown>


    <a [routerLink]="['/profile', userId]" class="hide-on-small">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </a>

    <div *ngIf="username" class="hide-on-small">
      <span>{{ username }}</span>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </span>
</mat-toolbar>
